body {
    padding: 0;
    margin: 0;
}

#main-page {
    width: 100%;
    height: 100%;
    background: url('/resources/assets/img/main_page.jpg');
    background-size: 100%;
    background-position: 0px 90%;
    background-repeat: no-repeat;
}

.abs-button {
    position: absolute;
    left: 50%;
    height: 100%;
}

a {
    position: relative;
    left: -50%;
    top: 80%;
    color: #fff;
    text-decoration: none;
    font: 3em Times, sans-serif;
    border: 3px solid;
    border-radius: 11px;
    padding: 5px 12px;
}

a:active {
    background: #fff;
}