/* 
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

html, body {
  height:100%;
}

body {
  padding-top: 50px; /* body padding for fixed top nav */
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #e1e1e1; /* change this to change the background color of a colored section */
}

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 50%;
}

.item,
.carousel-inner {
  height: 100%;
}

/*.active {*/
  /*height: 100%;*/
/*}*/

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
/*.price {*/
  /*font-size: 4em;*/
/*}*/

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

/* Footer Styles */
footer {
  margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

.carousel {
  height: 70%; /* increases the carousel height so it looks good on phones */
}

}

#loginForm {
    margin: 60px 0;
    padding: 0px 15px;
}

.img-left {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 50%;
}

.price {
    font-size: 19px;
    font-weight: bold;
    color: #000;
}

.clear {
    clear: both;
}

.category-price {
    display: block;
    margin: 10px 0 0 0;
}

.product-image {
    display: block;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.category-image {
    height: 240px;
}

.cart-image {
    height: 120px;
}

td.td-image {
    width: 120px;
}

.cart h4 {
    font-weight: bold;
}

.cart-remove {
    display: block;
}

.cart-remove a {
    font-size: 13px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.in-cart {
    display: none;
}

.in-cart.show-in-cart {
    display: inline-block;
}

.add-to-cart.show-in-cart {
    display: none;
}

.bold {
    font-weight: bold;
}

.btn-go {
    margin-top: 10px;
}

.main-cat {
    margin-top: 24px;
}

.main-cat ul {
    border: none;
}

.main-cat hr {
    margin-top: 10px;
}

.main-cat h3 {
    font-size: 27px;
}

.main-cat a.active {
    background-color: #FFC291;
}